{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block navbar %}
    {% include 'admin/_admin_navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="container">

    <div class="cb-card">

        <h2 class="section-title">Edit Client</h2>

        <form method="POST"
              action="{{ path_update_client ?? (base_path|default('') ~ '/clients') }}/{{ client.id }}">

            <input type="hidden" name="csrf_token" value="{{ csrf_token ?? '' }}">

            <div class="row g-3">

                <div class="col-md-6">
                    <input class="form-control" name="first_name" value="{{ client.first_name }}">
                </div>

                <div class="col-md-6">
                    <input class="form-control" name="last_name" value="{{ client.last_name }}">
                </div>

                <div class="col-md-6">
                    <input class="form-control" name="email" value="{{ client.email }}">
                </div>

                <div class="col-md-6">
                    <input class="form-control" name="phone" value="{{ client.phone }}">
                </div>

                <div class="col-md-6">
                    <input type="date" class="form-control" name="event_date"
                           value="{{ client.event_date }}">
                </div>

                <div class="col-md-6">
                    <input class="form-control" name="guest_count"
                           value="{{ client.guest_count }}">
                </div>

                <div class="col-md-6">
                    <input class="form-control" name="budget"
                           value="{{ client.budget }}">
                </div>

            </div>

            <button class="btn btn-cb-primary mt-4">
                Save Changes
            </button>

        </form>

    </div>
</div>
{% endblock %}